<html>
	<head>
		<title>Request Queue</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

			<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

			<script src="/js/bootstrap.js"></script>

			<link href="/css/bootstrap.css" rel="stylesheet">
			<link href="/css/bootstrap-theme.css" rel="stylesheet">
			<link href="/css/requestQueue_styling.css" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body>
		<center>
		<h1 id="emptyQueue">Queue is Empty</h1>
		</center>

		{{#each songNames}}
			<center>
			<div class="songName">
				<div class="songBar" id="{{id}}">
					<b id="s">{{song}}</b>
					<p id="a">{{artist}}</p>
					<button class="queueButton" id="approveButton">Approve</button>

					<script type="text/javascript">
						document.getElementById("approveButton").addEventListener("click",function() {
							var rmSong = document.getElementById("{{id}}");

							console.log(document.getElementById("{{id}}"));
							//var rmArtist = document.getElementById("{{id}}");

							rmSong.hide();
							//rmArtist.style.display="none";
						});
					</script>

					<button class="queueButton" id="denyButton">Deny</button>

					<script type="text/javascript">
						document.getElementById("denyButton").addEventListener("click", function() {
							var rmSong = document.getElementById("{{id}}");

							console.log(document.getElementById("{{id}}"));
							//var rmArtist = document.getElementById("a");

							rmSong.style.display="none";
							//rmArtist.style.display="none";
						});
					</script>

				</div>
			</div>
			</center>
		{{/each}}



<!--	EXTRA CODE FROM PREVIOUS ITERATION
				<script>
						console.log("work1");
						var content = document.getElementById("s");
						console.log("work2");
						var content2 = document.getElementById("a");

						//var eq = document.getElementById("emptyQueue");
						//eq.style.display="none";

						console.log("work3");
						content.style.display="none";
						console.log("work4");
						content2.style.display="none";
						console.log("work5");
						setTimeout(function(){
							console.log("work6");
							content.style.display="block";
							console.log("work7");
							content2.style.display="block";
							console.log("work8");
						}, 3000);
						console.log("work9");
					</script> 
-->
<!--script for hiding and displaying items-->
<!--		<script src="/js/jquery-1.11.0.js">
			$("#songBar").each(function() {
				var content = document.getElementById("s");
				var content2 = document.getElementById("a");
				if (content.style.display != "none") {
					content.style.display = "none";
				}
				else {} //do nothing
				if (content2.style.display != "none") {
					content2.style.display = "none";
				}
				else {};
			});

			//counter used for when to hide empty queue
			/*var ctr = 0;

			$("#songBar").each(function() {
				var d1 = document.getElementById("s");
				var d2 = document.getElementById("a");

				//used to hide the "Queue is Empty" text
				if (ctr == 0) {
					ctr++;
					setTimeout(function() {
						if (d1.style.display != "block") {
							d1.style.display = "block";
						}	
						if(d2.style.display != "block") {
							d2.style.display = "block";
						}

						var eq = document.getElementById("emptyQueue");
						eq.style.display = "none";
					}, 3000);
				}
				//if "Queue is Empty" is already hidden
				else {
					setTimeout(function() {
						if (d1.style.display != "block") {
							d1.style.display = "block";
						}	
						if(d2.style.display != "block") {
							d2.style.display = "block";
						}
					}, 3000);
				}
			});
			*/
		</script> 
-->


<!--		<script>startQueue();</script> -->

	</body>

	<div class="navbar">
		<a href="/"><i class="fa fa-home"></i></a> 
		<a href="search"><i class="fa fa-search"></i></a>
		<a class="active" href="partyMode"><i class="fa fa-users"></i></a>
		<a href="profile"><i class="fa fa-user"></i></a>
	</div>
 

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
</html>