<html>
	<head>
		<title>Request Queue</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=800">

			<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  			<link href="/css/searchPage.css" rel="stylesheet">
			<script src="/js/bootstrap.js"></script>
  			<link href="/css/styling.css" rel="stylesheet">
			<link href="/css/bootstrap.css" rel="stylesheet">
			<link href="/css/bootstrap-theme.css" rel="stylesheet">
			<link href="/css/requestQueue_styling.css" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body>
<!--		<center>
		<h1 id="emptyQueue">Queue is Empty</h1>
		</center>
-->

		<center>
			<h1 id="queue">Request Queue</h1>

			<div id="songBar1">
				<b id="s1">"One Dance (feat. Wizkid & Kyla)"</b>
				<i><p id="a1">Drake</p></i>
				<button class="queueButton" id="approveButton1">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton1").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar1");
						rmSong.style.display="none";
						alert("Approved: One Dance (feat. Wizkid & Kyla)")
					});
				</script>
				<button class="queueButton" id="denyButton1">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton1").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar1");
						rmSong.style.display="none";
						alert("Denied: One Dance (feat. Wizkid & Kyla)");
					});
				</script>
			</div>
			<div id="songBar2">
				<b id="s2">Antidote</b>
				<i><p id="a2">Travi$ Scott</p></i>
				<button class="queueButton" id="approveButton2">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton2").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar2");
						rmSong.style.display="none";
						alert("Approved: Antidote");
					});
				</script>
				<button class="queueButton" id="denyButton2">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton2").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar2");
						rmSong.style.display="none";
						alert("Denied: Antidote");
					});
				</script>
			</div>
			<div id="songBar3">
				<b id="s3">Get Lucky (feat. Pharrell Williams)</b>
				<i><p id="a3">Daft Punk</p></i>
				<button class="queueButton" id="approveButton3">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton3").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar3");
						rmSong.style.display="none";
						alert("Approved: Get Lucky (feat. Pharrell Williams)");
					});
				</script>
				<button class="queueButton" id="denyButton3">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton3").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar3");
						rmSong.style.display="none";
						alert("Denied: Get Lucky (feat. Pharrell Williams)");
					});
				</script>
			</div>
			<div id="songBar4">
				<b id="s4">Hard in da Paint (prod. by Lex Luger)</b>
				<i><p id="a4">Waka Flocka Flame</p></i>
				<button class="queueButton" id="approveButton4">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton4").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar4");
						rmSong.style.display="none";
						alert("Approved: Hard in da Paint (prod. by Lex Luger)");
					});
				</script>
				<button class="queueButton" id="denyButton4">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton4").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar4");
						rmSong.style.display="none";
						alert("Denied: Hard in da Paint (prod. by Lex Luger)");
					});
				</script>
			</div>			
			<div id="songBar5">
				<b id="s5">Danny Glover</b>
				<i><p id="a5">Young Thug</p></i>
				<button class="queueButton" id="approveButton5">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton5").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar5");
						rmSong.style.display="none";
						alert("Approved: Danny Glover");
					});
				</script>
				<button class="queueButton" id="denyButton5">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton5").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar5");
						rmSong.style.display="none";
						alert("Denied: Danny Glover");
					});
				</script>
			</div>			
			<div id="songBar6">
				<b id="s6">Feeling Myself (feat. Beyonce)</b>
				<i><p id="a6">Nicki Minaj</p></i>
				<button class="queueButton" id="approveButton6">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton6").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar6");
						rmSong.style.display="none";
						alert("Approved: Feeling Myself (feat. Beyonce)");
					});
				</script>
				<button class="queueButton" id="denyButton6">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton6").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar6");
						rmSong.style.display="none";
						alert("Denied: Feeling Myself (feat. Beyonce)");
					});
				</script>
			</div>
			<div id="songBar7">
				<b id="s7">Stay Fly</b>
				<i><p id="a7">Three 6 Mafia</p></i>
				<button class="queueButton" id="approveButton7">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton7").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar7");
						rmSong.style.display="none";
						alert("Approved: Stay Fly");
					});
				</script>
				<button class="queueButton" id="denyButton7">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton7").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar7");
						rmSong.style.display="none";
						alert("Denied: Stay Fly");
					});
				</script>
			</div>			
			<div id="songBar8">
				<b id="s8">Chamber of Reflection</b>
				<i><p id="a8">Mac DeMarco</p></i>
				<button class="queueButton" id="approveButton8">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton8").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar8");
						rmSong.style.display="none";
						alert("Approved: Chamber of Reflection");
					});
				</script>
				<button class="queueButton" id="denyButton8">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton8").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar8");
						rmSong.style.display="none";
						alert("Denied: Chamber of Reflection");
					});
				</script>
			</div>
			<div id="songBar9">
				<b id="s9">My Love (feat. T.I. & Timbaland)</b>
				<i><p id="a9">Justin Timberlake</p></i>
				<button class="queueButton" id="approveButton9">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton9").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar9");
						rmSong.style.display="none";
						alert("Approved: My Love (feat. T.I. & Timbaland)");
					});
				</script>
				<button class="queueButton" id="denyButton9">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton9").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar9");
						rmSong.style.display="none";
						alert("Denied: My Love (feat. T.I. & Timbaland)");
					});
				</script>
			</div>
			<div id="songBar10">
				<b id="s10">CHERRY BOMB</b>
				<i><p id="a10">Tyler, the Creator</p></i>
				<button class="queueButton" id="approveButton10">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton10").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar10");
						rmSong.style.display="none";
						alert("Approved: CHERRY BOMB");
					});
				</script>
				<button class="queueButton" id="denyButton10">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton10").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar10");
						rmSong.style.display="none";
						alert("Denied: CHERRY BOMB");
					});
				</script>
			</div>	
			<div id="songBar11">
				<b id="s11">Guillotine</b>
				<i><p id="a11">Death Grips</p></i>
				<button class="queueButton" id="approveButton11">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton11").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar11");
						rmSong.style.display="none";
						alert("Approved: Guillotine");
					});
				</script>
				<button class="queueButton" id="denyButton11">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton11").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar11");
						rmSong.style.display="none";
						alert("Denied: Guillotine");
					});
				</script>
			</div>	
			<div id="songBar12">
				<b id="s12">Int'l Players Anthem (I Choose You) [feat. Outkast]</b>
				<i><p id="a12">UGK</p></i>
				<button class="queueButton" id="approveButton12">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton12").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar12");
						rmSong.style.display="none";
						alert("Approved: Int'l Players Anthem (I Choose You) [feat. Outkast]");
					});
				</script>
				<button class="queueButton" id="denyButton12">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton12").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar12");
						rmSong.style.display="none";
						alert("Denied: Int'l Players Anthem (I Choose You) [feat. Outkast]");
					});
				</script>
			</div>	
			<div id="songBar13">
				<b id="s13">What's Up</b>
				<i><p id="a13">Post Malone</p></i>
				<button class="queueButton" id="approveButton13">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton13").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar13");
						rmSong.style.display="none";
						alert("Approved: What's Up");
					});
				</script>
				<button class="queueButton" id="denyButton13">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton13").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar13");
						rmSong.style.display="none";
						alert("Denied: What's Up");
					});
				</script>
			</div>	
			<div id="songBar14">
				<b id="s14">Sober</b>
				<i><p id="a14">Childish Gambino</p></i>
				<button class="queueButton" id="approveButton14">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton14").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar14");
						rmSong.style.display="none";
						alert("Approved: Sober");
					});
				</script>
				<button class="queueButton" id="denyButton14">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton14").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar14");
						rmSong.style.display="none";
						alert("Denied: Sober");
					});
				</script>
			</div>	
			<div id="songBar15">
				<b id="s15">Kyoto</b>
				<i><p id="a15">Yung Lean</p></i>
				<button class="queueButton" id="approveButton15">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton15").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar15");
						rmSong.style.display="none";
						alert("Approved: Kyoto");
					});
				</script>
				<button class="queueButton" id="denyButton15">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton15").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar15");
						rmSong.style.display="none";
						alert("Denied: Kyoto");
					});
				</script>
			</div>	
			<div id="songBar16">
				<b id="s16">Walk in the Park</b>
				<i><p id="a16">Beach House</p></i>
				<button class="queueButton" id="approveButton16">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton16").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar16");
						rmSong.style.display="none";
						alert("Approved: Walk in the Park");
					});
				</script>
				<button class="queueButton" id="denyButton16">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton16").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar16");
						rmSong.style.display="none";
						alert("Denied: Walk in the Park");
					});
				</script>
			</div>	
			<div id="songBar17">
				<b id="s17">Tbh</b>
				<i><p id="a17">PARTYNEXTDOOR</p></i>
				<button class="queueButton" id="approveButton17">Approve</button>
				<script type="text/javascript">
					document.getElementById("approveButton17").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar17");
						rmSong.style.display="none";
						alert("Approved: Tbh");
					});
				</script>
				<button class="queueButton" id="denyButton17">Deny</button>
				<script type="text/javascript">
					document.getElementById("denyButton17").addEventListener("click", function() {
						var rmSong = document.getElementById("songBar17");
						rmSong.style.display="none";
						alert("Denied: Tbh");
					});
				</script>
			</div>	
		</center>

<!--		{{#each songNames}}
			<center>
			<div class="songName">
				<div class="songBar" id="{{id}}">
					<b id="s">{{song}}</b>
					<i><p id="a">{{artist}}</p></i>
					<button class="queueButton" id="approveButton">Approve</button>

					<script type="text/javascript">
						document.getElementById("approveButton").addEventListener("click",function() {
							var rmSong = document.getElementById("{{id}}");

							console.log(document.getElementById("{{id}}"));
							//var rmArtist = document.getElementById("{{id}}");

							rmSong.hide();
							//rmArtist.style.display="none";
						});
					</script>

					<button class="queueButton" id="denyButton">Deny</button>

					<script type="text/javascript">
						document.getElementById("denyButton").addEventListener("click", function() {
							var rmSong = document.getElementById("{{id}}");

							console.log(document.getElementById("{{id}}"));
							//var rmArtist = document.getElementById("a");

							rmSong.style.display="none";
							//rmArtist.style.display="none";
						});
					</script>

				</div>
			</div>
			</center>
		{{/each}}

-->

<!--	EXTRA CODE FROM PREVIOUS ITERATION
				<script>
						console.log("work1");
						var content = document.getElementById("s");
						console.log("work2");
						var content2 = document.getElementById("a");

						//var eq = document.getElementById("emptyQueue");
						//eq.style.display="none";

						console.log("work3");
						content.style.display="none";
						console.log("work4");
						content2.style.display="none";
						console.log("work5");
						setTimeout(function(){
							console.log("work6");
							content.style.display="block";
							console.log("work7");
							content2.style.display="block";
							console.log("work8");
						}, 3000);
						console.log("work9");
					</script> 
-->
<!--script for hiding and displaying items-->
<!--		<script src="/js/jquery-1.11.0.js">
			$("#songBar").each(function() {
				var content = document.getElementById("s");
				var content2 = document.getElementById("a");
				if (content.style.display != "none") {
					content.style.display = "none";
				}
				else {} //do nothing
				if (content2.style.display != "none") {
					content2.style.display = "none";
				}
				else {};
			});

			//counter used for when to hide empty queue
			/*var ctr = 0;

			$("#songBar").each(function() {
				var d1 = document.getElementById("s");
				var d2 = document.getElementById("a");

				//used to hide the "Queue is Empty" text
				if (ctr == 0) {
					ctr++;
					setTimeout(function() {
						if (d1.style.display != "block") {
							d1.style.display = "block";
						}	
						if(d2.style.display != "block") {
							d2.style.display = "block";
						}

						var eq = document.getElementById("emptyQueue");
						eq.style.display = "none";
					}, 3000);
				}
				//if "Queue is Empty" is already hidden
				else {
					setTimeout(function() {
						if (d1.style.display != "block") {
							d1.style.display = "block";
						}	
						if(d2.style.display != "block") {
							d2.style.display = "block";
						}
					}, 3000);
				}
			});
			*/
		</script> 
-->


<!--		<script>startQueue();</script> -->

	</body>

	<div class="navbar">
		<a href="/index"><i class="fa fa-home"></i></a> 
		<a href="search"><i class="fa fa-search"></i></a>
		<a class="active" href="partyMode"><i class="fa fa-users"></i></a>
		<a href="profile"><i class="fa fa-user"></i></a>
	</div>
 

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
</html>